{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
<div id="cover-page" data-stellar-background-ratio="0.25" style="position: relative; min-height: 500px;">
  <div style="position: absolute; top: 0; left: 0; width: 50%; height: 100%; background-image: url(/images/drummer.png); background-size: cover; background-position: center;"></div>
  <div style="position: absolute; top: 0; right: 0; width: 50%; height: 100%; background-image: url(/images/bass.png); background-size: cover; background-position: center;"></div>
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3);"></div>
  <div class="container" style="position: relative; z-index: 10;">
    {{ with .Site.Params.title }}<h1 class="cover-title">{{ . }}</h1>{{ end }}
    {{ with .Site.Params.subtitle }}<h3 class="cover-subtitle">{{ . }}</h3>{{ end }}
  </div>
</div>
<div class="index-wrapper">
  <div id="main-container" class="container">
    <div class="col-sm-12">
      <article>
        <h3>Recent Posts</h3>
        <hr />
        {{ range first 5 (where .Data.Pages "Section" "post") }}
           {{ .Render "summary"}}
        {{ end }}
      </article>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
